.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .login-section {
  background-image: url("./Components//img/peakpx.jpg");
  background-size: cover;
  background-position: center;
  color: white;
} */



/* Login.css */
/* 
.login-section {
  background-color: #f8f9fa;
  background-image: url('./Components/img/pngwing.com\(2\).png');
  background-size: cover;
}

.login-card {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 150px;
}

.card-title {
  color: #3a3a3a;
}

.form-group label {
  color: #3a3a3a;
}

.form-control {
  border: 1px solid #ced4da;
}

.btn-login {
  background-color: #c52d2f;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #971d1f;
  cursor: pointer;
}

.login-error {
  color: red;
  margin-top: 10px;
} */


/* Login.css */

.login-section {
  background-color: #f8f9fa;
  background-image: url('./Components//img/pexels-still-pixels-3699921.jpg');
  background-size: cover;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.85); /* Translucent white background */
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 150px;
}

.card-title {
  color: #3a3a3a;
}

.form-group label {
  color: #3a3a3a;
}

.form-control {
  border: 1px solid #ced4da;
}

.btn-login {
  background-color: #c52d2f;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #971d1f;
  cursor: pointer;
}

.login-error {
  color: red;
  margin-top: 10px;
}
